*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: #3b3858;
}

h1{
    margin-bottom: 0.5em;
}

.container{
    background-color: #fbfbfb;
    width: 100%;
    padding: 1em;
    height: 100vh;
}

.flex{
    direction: rtl;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.date{
    font-style: italic;
    margin: 0 auto;
}

.box{
    font-weight: 800;
    margin: 0.2em;
    margin-top: 0.5em;
    padding: 0.4em;
    border-radius: 8px;
    min-width: 200px;
    width: 100%;
    font-size: 1.5em;
}


.disclaimer{
    font-size: 1.6em;
    font-weight: 600;
    margin: 1em 0;
}
  
.card-info {
    display: grid;
    grid-template-columns: minmax(auto, 9em) 1fr;
    justify-items: start;
    align-items: center;
    margin: 0.5em;
    min-height: 10em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    padding: 1em;
    max-width: 80%;
}
  
.card-info > div {
    max-width: 18rem;
    background-color: #ada1e9;
    border-radius: 50%;
    transition: border-radius 300ms ease;
}
  
.card-info > p {
    font-size: 1.2em;
    margin-left: 1em;
}

.date{
    letter-spacing: 1px;
}

.warning{
    margin: 0.2em 0;
    font-style: italic;
    font-size: 1.3em;
}

.box.confirmed{
    background-color: #f9d864;
}
.box.active{
    background-color: #64fff2;
}
.box.recovered{
    background-color: #64ffc7;
}
.box.dead{
    background-color: #FF6496;
}
.box.death{
    border: 1px solid orange;
    background-color: orange;
}

.search-container{
    width: 100%;
    position: relative;
}

.flag{
    position: absolute;
    left: 0;
    border:2px solid black;
    border-radius:7px;
    max-width: 50px;
    height: 38px;
}

.dropdown{
    font-size: 1.2em;
    width: 80%;
    margin: 0 auto;
    font-family:sans-serif ;
    margin-right: 0.2em ;
}

@media screen and (min-width: 1200px){
    h1{
        font-size: 300%;
        margin-bottom: 0.2em; 
    }
    .flex{
        flex-wrap: nowrap;
    }

    .box h3{
        margin-top: 20px;
    }

    .card-info > div{
        max-width: 12rem;
    }
    
    .search-container{
        width: 25%;
        margin: auto;
    }
}

@media screen and (min-width: 1920px){
    .search-container .dropdown{
        margin-right: 1.5em;
    }

}